@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid white;
} */

:root {
  --primary: #b56fb4;
}

* {
  scroll-behavior: smooth;
}

nav ul li::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.175rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s;
}

nav ul li:hover::after {
  transform: scaleX(0.7);
}

nav ul li a.active::after {
  transform: scaleX(0.5);
}
